extends layout

include includes/test.pug

block content
	div(style="padding:100px;overflow:hidden")
		h2 Current Settings:
		button#next(style="float:none;margin-top:10px;margin-bottom:10px;") Save Your New Settings
		table#table
			thead
				th Setting
				th Current Value
				th New Value
			each setting, key in settings
				- if (key == "polygons")
					- var p_array = settings["shapes"]
					tr
						td=key
						td=settings["shapes"]
						td 
							- for (var i = 0; i < setting.length; ++i)
								input(class="setting-input shapes array", id=(setting.length - i) + "-check" type="checkbox", checked=((setting[i]=="1") ? true : false), data-key=key)
								label(for=(setting.length - i) + "-check") &nbsp;&nbsp;#{(setting.length - i)}-sided shape
								br
				- else if (key == "true_polygons")
					- var p_array = settings["true_shapes"]
					tr
						td=key
						td=settings["true_shapes"]
						td 
							- for (var i = 0; i < setting.length; ++i)
								input(class="setting-input true-shapes array", id=(setting.length - i) + "-check" type="checkbox", checked=((setting[i]=="1") ? true : false), data-key=key)
								label(for=(setting.length - i) + "-check") &nbsp;&nbsp;#{(setting.length - i)}-sided shape
								br
				- else if (key == "action_weights")
					tr
						td(colspan="3", style="text-align:center;font-weight:bold;background:#888; color:#eee; padding: 5px;") Action Tables
					- for (var i = 0; i < setting.length; ++i)
						tr
							td(colspan="2")
								+table(settings, 0.9, i)
							td 
								// button#editAct Clear Action Weights
								// br
								b Start Round (inclusive)
								br
								input(class="s-in", id="min-table-" + i, type="text", value=setting[i][0][0].start_round, placeholder=key, data-key=key)
								br
								br
								b End Round (inclusive)
								br
								input(class="s-in", id="max-table-" + i, type="text", value=setting[i][0][0].end_round, placeholder=key, data-key=key)
								br
					tr
						td(colspan="3", style="text-align:center;background:#fff; color:#000; padding: 5px;")
							button#editAct New Action Table
				- else if (key == "probabilities")
					td=key
					td
						+probabilities(setting)
					td 
						button#editProb Add New Probability
				- else if (key == "shapes" || key == "true_shapes" || key == "correct")
					-console.log('hello');
				- else if (typeof setting == "function")
					-console.log('hello');
				- else
					tr
						td=key
						td=setting
						td 
							input(class="setting-input", type="text", value=setting, placeholder=key, data-key=key)
	script(src="/javascripts/admin.js")
