extends layout

include includes/test.pug
include includes/polygons.pug

block content
	div#welcome
		h1 Instructions

		each line, index in text
			- if (index == 1)
				div(id="hidden-" + index, style="display:none; margin-bottom: 50px;")
					p= line
					div(style="text-align:center;")
						each type in settings.shapes
							+shape(type)
			- else if (index == 2)
				div(id="hidden-" + index, style="display:none")
					p= line
					div(style="text-align:center; padding:30px; border: 1px solid #000; margin-bottom: 50px")
						- for (var i = 0; i < settings.total_n; ++i)
							- if (i > 0 && i % 8 == 0)
								br
							+shape(settings.shapes[Math.floor(Math.random() * settings.n)])
			- else if (index == 4)
				div(id="hidden-" + index, style="display:none; margin-bottom: 50px")
					p!= line
					br
					+table(settings)
			- else if (index == 8)
				div(id="hidden-" + index, style="display:none;margin-bottom: 50px")
					p!= line
					+board(settings, -1)
			- else if (index == 9)
				div(id="hidden-" + index, style="display:none;margin-bottom: 50px")
					p!= line
					+probabilities(settings.probabilities)
			- else if (index == 11)
				div(id="hidden-" + index, style="display:none;margin-bottom: 50px")
					p!= line
					include includes/clock.pug
			- else
				div(id="hidden-" + index, style="display:none;margin-bottom: 50px")!= line

		button#continue Continue

	script.
		var max = #{size};

	script(src="/javascripts/welcome.js")
