extends layout

include includes/test.pug

mixin shape(name)
	case name
		when "five"
			include polygons/pentagon.pug
		when "six"
			include polygons/hexagon.pug
		when "seven"
			include polygons/septagon.pug
		when "eight"
			include polygons/octogon.pug
		when "nine"
			include polygons/nonagon.pug
		when "ten"
			include polygons/decagon.pug

block content
	div#welcome
		h1 Instructions

		each line, index in text
			- if (index == 1)
				div(id="hidden-" + index, style="display:none")
					p= line
					div(style="text-align:center;")
						each type in settings.shapes 
							+shape(type)
			- else if (index == 2) 
				div(id="hidden-" + index, style="display:none")
					p= line
					div(style="text-align:center; padding:30px; border: 1px solid #000; margin-bottom: 20px")
						- for (var i = 0; i < settings.total_n; ++i)
							- if (i > 0 && i % 8 == 0)
								br
							+shape(settings.shapes[Math.floor(Math.random() * settings.n)])
			- else if (index == 5)
				div(id="hidden-" + index, style="display:none; margin-bottom: 20px")
					p= line
					br
					+table(settings)
			- else if (index == 8)
				div(id="hidden-" + index, style="display:none;margin-bottom: 20px")
					p= line
					+board(settings)
			- else 
				div(id="hidden-" + index, style="display:none;margin-bottom: 20px")!= line

		button#continue Continue

	script.
		var max = #{size};

	script(src="/javascripts/welcome.js")